<mat-sidenav-container class="example-sidenav-container"
                       [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav
                 position="end"
                 opened="true"
                 [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches"
                 fixedTopGap="56">
        <mat-nav-list>
            <mat-card>
                <mat-card-title>
                    <h5>Suggested Place</h5>
                </mat-card-title>
                <mat-card-content>
                    <h6>Title</h6>
                    <div class="data">{{sugg.name}}</div>
                    <h6>Description</h6>
                    <div class="data">{{sugg.description}}</div>
                    <h6>Category</h6>
                    <div class="data">{{sugg.category}}</div>
                </mat-card-content>
                <mat-card-actions *ngIf="state === 'pending'">
                    <button mat-button
                            (click)="approve()">Approve</button>
                    <button mat-button
                            (click)="reject()">Reject</button>
                </mat-card-actions>
                <mat-card-actions *ngIf="state === 'approved'">
                    <span class="approved">Approved :)</span>
                </mat-card-actions>
                <mat-card-actions *ngIf="state === 'rejected'">
                    <span class="rejected">Rejected :(</span>
                </mat-card-actions>
            </mat-card>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <app-map></app-map>
    </mat-sidenav-content>
</mat-sidenav-container>