:host {
  display: block;
  width: 300px;

  mat-icon {
    margin-right: 10px;

    &.right-icon {
      right: 0;
      position: absolute;
    }
  }

  .menu-wrapper {
    position: absolute;
    width: 605px;

    .right-menu,
    .left-menu {
      display: inline-block;
      width: 300px;
      vertical-align: top;

      .mat-checkbox {
        pointer-events: none;
      }

      .active-link {
        background-color: #5ab53f;
        color: #fff;
      }

      .input-form-field {
        width: 260px;
      }
    }

    .right-menu {
      .mat-list-item {
        &.cursor-default {
          cursor: default;
        }
        label {
          cursor: pointer;
        }
      }

      .mat-icon {
        &.sharing.active {
          color: #388E3C;
        }
        &.repair.active {
          color: #7C4DFF;
        }
        &.rental.active {
          color: #9E9D24;
        }
        &.parking.active {
          color: #204a87;
        }
        &.path.active {
          color: rgb(0, 172, 37);
        }
        &.stops.active {
          color: #D84315;
        }
        &.interests.active {
          color: #03A9F4;
        }
      }
    }
  }
}
