
<a mat-list-item routerLink=".">
  <mat-icon>swap_calls</mat-icon>
  <span>Custom route</span>
</a>
<a mat-list-item routerLink=".">
  <mat-icon>layers</mat-icon>
  <span>Categories</span>
</a>
<a mat-list-item routerLink="/events">
  <mat-icon>event</mat-icon>
  <span>Events</span>
</a>
<a mat-list-item routerLink="/news-feed">
  <mat-icon>library_books</mat-icon>
  <span>News feed</span>
</a>
<a mat-list-item routerLink="/feedback">
  <mat-icon>feedback</mat-icon>
  <span>Send feedback</span>
</a>
<a mat-list-item
  routerLink="/about">
  <mat-icon>info</mat-icon>
  <span>About</span>
</a>
