<agm-map [ngStyle]="{ height: mobileQuery.matches ? 'calc(100vh - 56px)' : 'calc(100vh - 64px)' }"
         [latitude]="defaults.lat"
         [longitude]="defaults.lng"
         (mapReady)="onMapReady($event)"
         (mapClick)="onMapClick($event)"
         [zoom]="defaults.zoom"
         [styles]="mapOptions.styles">

  <!-- <agm-circle *ngFor="let point of points;"
              [latitude]="point.lat"
              [title]="'test'"
              [longitude]="point.lng"
              [fillColor]="'#000'"
              [strokeColor]="'#000'"
              [radius]="10"
              (markerClick)="onMarkerClick(point)">
  </agm-circle> -->

  <agm-marker *ngFor="let point of points;"
              [latitude]="point.lat"
              [title]="point.title"
              [iconUrl]="point.icon"
              [label]="{
                color: '#CC0000',
                fontFamily: '',
                fontSize: '14px',
                fontWeight: 'bold',
                text: point.label
              }"
              [longitude]="point.lng"
              (markerClick)="onMarkerClick(point)">
  </agm-marker>
</agm-map>
