<agm-map [ngStyle]="{ height: mobileQuery.matches ? 'calc(100vh - 56px)' : 'calc(100vh - 64px)' }"
         [latitude]="defaults.lat"
         [longitude]="defaults.lng"
         [zoom]="defaults.zoom"
         [styles]="mapOptions.styles"
         (mapClick)="showSuggestionPopup($event)">
  <agm-marker [latitude]="marker.lat"
              [longitude]="marker.lng">
  </agm-marker>
  <agm-snazzy-info-window [isOpen]="isSnazzyInfoWindowOpened"
                          [latitude]="snazzyInfoCoordinates.lat"
                          [longitude]="snazzyInfoCoordinates.lng"
                          [closeWhenOthersOpen]="false"
                          [closeOnMapClick]="false"
                          [openOnMarkerClick]="false">
    <ng-template>
      <app-suggestion-form></app-suggestion-form>
    </ng-template>
  </agm-snazzy-info-window>
</agm-map>
