<mat-card class="form-container">
  <mat-card-title>Feedback</mat-card-title>

  <mat-form-field>
    <mat-label>Enter Full Name</mat-label>
    <input matInput placeholder="Full Name" type="text" [formControl]="fullName" required>
    <mat-error *ngIf="fullName.invalid">{{getFullNameErrorMessage()}}</mat-error>
  </mat-form-field>
  
  <mat-form-field>
    <mat-label>Enter your email</mat-label>
    <input matInput placeholder="Email" type="email" [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Enter your comment</mat-label>
    <textarea matInput matTextareaAutosize matAutosizeMinRows="4" placeholder="Comment" [formControl]="comment" required></textarea>
    <mat-error *ngIf="comment.invalid">{{getCommentErrorMessage()}}</mat-error>
  </mat-form-field>

  <div class="button-row">
    <button mat-raised-button>Submit</button>
  </div>
</mat-card>