<mat-sidenav-container class="example-sidenav-container"
                       [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
  <mat-sidenav #snav
               position="end"
               opened="false"
               [mode]="mobileQuery.matches ? 'over' : 'side'"
               [fixedInViewport]="mobileQuery.matches"
               fixedTopGap="56">
    <mat-nav-list>
      sdfasfas
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-map></app-map>
  </mat-sidenav-content>
</mat-sidenav-container>
