<div class="notification-center">
    <mat-menu #appMenu="matMenu">
        <button mat-menu-item
            (click)="manageSuggestion(suggestion)"
             *ngFor="let suggestion of suggestions">
            <span>{{suggestion.name}}</span>
        </button>
    </mat-menu>
    <button mat-icon-button class="alert-button" [matMenuTriggerFor]="appMenu">
        <mat-icon>add_alert</mat-icon>
    </button>
    <div *ngIf="suggestions.length" class="suggestion-counter">{{ suggestions.length }}</div>
</div>