<div class="notification-center" *ngIf="anySuggestions | async">
    <button mat-button
            class="alert-button"
            [matMenuTriggerFor]="appMenu">
        <mat-icon>add_alert</mat-icon>
    </button>
    <mat-menu #appMenu="matMenu">
        <button mat-menu-item
            (click)="manageSuggestion(suggestion)"
             *ngFor="let suggestion of suggestions | async">
            <span>{{suggestion.name}}</span>
        </button>
    </mat-menu>
    <!-- <button mat-icon-button class="alert-button" (click)="appMenu.open()">
        <mat-icon>add_alert</mat-icon>
    </button> -->
</div>