<div class="notification-center" *ngIf="anySuggestions | async">
    <button mat-button
            class="alert-button"
            [matMenuTriggerFor]="appMenu">
        <mat-icon>add_alert</mat-icon>
    </button>
    <mat-menu #appMenu="matMenu">
        <div mat-menu-item
             *ngFor="let suggestion of suggestions | async">
            <span>{{suggestion.category}}</span>
            <span>&nbsp;-&nbsp;</span>
            <span>{{suggestion.description}}</span>
        </div>
    </mat-menu>
</div>